<div style="background-color: #ba68c8; margin-top: 30px; margin: 20px;">
        <footer id="fh5co-footer" role="contentinfo" style="padding-top: 20px; padding-bottom: 0px;">
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 fh5co-widget">
                    <h4>About Apartly</h4>
                    <p>Apartly was created during the virtual hackathon Rowdy Hacks. Not a single member was ever present in the same room, and we had to work through means of Discord and Zoom.</p>
                </div>
                <div class="col-md-3 col-md-push-1">
                    <h4>Members</h4>
                    <ul class="fh5co-footer-links">
                        <li>Yonathan Zetune</li>
                        <li>Paurush Singh</li>
                        <li>Anooj Shah</li>
                        <li>Dylan Theriot</li>
                    </ul>
                </div>
    
                <div class="col-md-3 col-md-push-1">
                    <h4>Links</h4>
                    <ul class="fh5co-footer-links">
                        <li><a href="explore">Explore</a></li>
                        <li><a href="schedule">Schedule</a></li>
                        <li><a href="profile">profle</a></li>
                    </ul>
                </div>
    
                <div class="col-md-3">
                    <h4>Contact Information</h4>
                    <ul class="fh5co-footer-links">
                        <li>Texas A&M University <br> College Station TX 77843</li>
                    </ul>
                </div>
    
            </div>
    
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2020 Apartly. All Rights Reserved.</small> 
                    </p>
                </div>
            </div>
        </footer>
    </div>

</div><!-- END container-wrap -->