<nav class="fh5co-nav" role="navigation">
    <div class="container-fluid">
        <div class="top-menu">
            <div class="row">
                <div class="col-xs-3">
                    <div id="fh5co-logo" style="font-family: 'Pacifico', cursive;"><a href="/">APARTLY</a></div>
                </div>
                <div class="col-xs-9 text-right menu-1">
                    <ul>
                        <li class="{{ 'active' if active_page == 'explore' else '' }}"><a href="explore">Explore</a></li>
                        <li class="{{ 'active' if active_page == 'create' else '' }}"><a href="create">Create</a></li>
                        <li class="{{ 'active' if active_page == 'schedule' else '' }}"><a href="schedule">Schedule</a>
                        </li>
                        <li class="{{ 'active' if active_page == 'profile' else '' }}"><a href="profile">Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>