{% include 'header.html' %}
<nav class="fh5co-nav" role="navigation">
    <div class="container-fluid">
        <div class="top-menu">
                <div class="row">
                    <div class="col-xs-3">
                        <div id="fh5co-logo"><a href="/">APARTLY</a></div>
                    </div>
                    <div class="col-xs-9 text-right menu-1">
                        <ul>
                            <li class="{{ 'active' if active_page == 'index' else '' }}"><a href="/">Explore</a></li>
                            <li class="{{ 'active' if active_page == 'create' else '' }}"><a href="create">Schedule</a>
                            </li>
                            <li class="{{ 'active' if active_page == 'about' else '' }}"><a href="about">Profile</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</nav>